
# configuration file for the OVP ARM9 target

SRC_DIRS += hw/cpu/arm/arm926ejs hw/cpu/arm/arm_common hw/board/ovp_arm9 hw/soc/ovp_arm9
ASM_DIRS += hw/cpu/arm/arm926ejs hw/cpu/arm/arm_common hw/board/ovp_arm9 hw/soc/ovp_arm9
INC_DIRS += hw/cpu/arm/arm926ejs hw/cpu/arm/arm_common hw/board/ovp_arm9 hw/soc/ovp_arm9

CFLAGS += -DTARGET_FAMILY=ARM -DTARGET_CPU=ARMv4 -DTARGET_SOC=OVP
AFLAGS += -DTARGET_FAMILY=ARM -DTARGET_CPU=ARMv4 -DTARGET_SOC=OVP

LSCRIPT = hw/ld/ovp_arm9.ld
HARDWARE_ADDRESS = 0x00000000
